#table{

    margin-top: 12%;
    margin-left: 2%;
    box-shadow: 0 0 10px #ccc;
}

#volver{

    width: 180px;
    height: 30px;
    border:aquamarine 1px solid;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 4%;
    margin-bottom: 5%;
    
}