.mensaje-exito {
    background-color: aquamarine;
    padding: 10px;
    color: black;
    border: 1px solid aquamarine;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 20%;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 38%;
    text-align: center;
  }

  .mensaje {
    background-color: aquamarine;
    padding: 10px;
    color: black;
    border: 1px solid aquamarine;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 30%;
    font-size: 20px;
    margin-top: 7%;
    margin-left: 6%;
    text-align: center;
  }

  #salir{
    width: 180px;
    height: 30px;
    border:aquamarine 1px solid;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 4%;
    margin-left: 45%;
  }